<body id="revenue-recognition-body">
  <div class="revenue-picture-overlay">
    <NavigationBar />
    <h1 class="accounting-equation-title">Revenue Recognition and Matching Principles</h1>
    <div class="income-statement-paragraph">
      <p>There are multiple principles that are critical for Accountants, but two of the most important principles
        are the Revenue Recognition Principle and the Matching Principle. While these two principles go together, it must
        be noted that they are two distinct concepts in accounting. The Revenue Recognition Principle states that revenues should
        be recognized when the service has been performed or the goods have been delivered. It should be noted that it is irrelevant when
        cash is paid. Revenue may still be recognized when a customer pays on credit. The Matching Principle states that the corresponding
        expenses relating to a transaction must be recorded in the same period in which the revenue is recorded for that transaction. The Revenue
        Recognition and Matching principles apply to businesses that use the accrual basis of accounting. To learn
        more about the Revenue Recognition and Matching Principles, click <a href="https://accountingproficient.com/financial-accounting/revenue-recognition-matching-principle-explained/" class="ready-to-begin">here</a>.
      </p>
    </div>
    <div class="income-statement-paragraph-2">
      <p>
        To complete the Revenue Recognition and Matching Principles lab, walk through the following scenarios and learn when a company should record Revenues and Expenses.
      </p>
    </div>

    {{!-- scenario1 --}}

    <div class="scenario-buttons-location">
      <NrgButton @text="Scenario 1" @action="toggleModal1" @class="scenario-button" />
      {{#if isShowingModal1}}
      {{#modal-dialog
      onClose=(action "toggleModal1")
      targetAttachment="center"
      translucentOverlay=true
      }}
      <NrgButton @action={{action (mut isShowingModal1) false}} @class="cancel-button">
        {{fa-icon "times" size="1" class="cancel-button-icon"}}
      </NrgButton>

      <p class="revenue-recognition-text">Isaiah went to the store and bought a bag of apples on <strong>credit</strong>. The store manager, Joy, immediately
        gave her the bag of apples. Does the store wait to record revenue until they receive cash?</p>

      <div class="answers-location">
        <ScenarioSuccessButton @question="No" @answer="Nice job!" />
        <ScenarioIncorrectButton @question="Yes" @answer="Try again"/>
      </div>

      {{/modal-dialog}}
      {{/if}}

      {{!-- end scenario1 --}}

      {{!-- scenario2 --}}

      <NrgButton @text="Scenario 2" @action="toggleModal2" @class="scenario-button" />
      {{#if isShowingModal2}}
      {{#modal-dialog
      onClose=(action "toggleModal2")
      targetAttachment="center"
      translucentOverlay=true
      }}
      <NrgButton @action={{action (mut isShowingModal2) false}} @class="cancel-button">
        {{fa-icon "times" size="1" class="cancel-button-icon"}}
      </NrgButton>

      <p class="revenue-recognition-text">Dr. Wilson orders monthly lawn maintenance for an entire year from Green Lawn Service. When does Green Lawn Service record revenue?</p>

      <div class="answers-location">
        <ScenarioSuccessButton @question="Every month they perform the service" @answer="Correct!" />
        <ScenarioIncorrectButton @question="Only when Dr. Wilson pays the bill" @answer="Keep studying!" />
      </div>

      {{/modal-dialog}}
      {{/if}}

      {{!-- end scenario2 --}}

      {{!-- scenario3 --}}

      <NrgButton @text="Scenario 3" @action="toggleModal3" @class="scenario-button" />
    {{#if isShowingModal3}}
    {{#modal-dialog
    onClose=(action "toggleModal3")
    targetAttachment="center"
    translucentOverlay=true
    }}
    <NrgButton @action={{action (mut isShowingModal3) false}} @class="cancel-button">
      {{fa-icon "times" size="1" class="cancel-button-icon"}}
    </NrgButton>

    <p class="revenue-recognition-text">
      Kate goes to the eye doctor on a Monday morning, and checks out without being charged. On Friday, 
      she receives a bill for her visit. When does the eye doctor record revenue from her visit?
    </p>

    <div class="answers-location">
      <ScenarioSuccessButton @question="Monday" @answer="Great!" />
      <ScenarioIncorrectButton @question="Friday" @answer="Not quite" />
    </div>

    {{/modal-dialog}}
    {{/if}}

    {{!-- end scenario3 --}}

    {{!-- scenario4 --}}

      <NrgButton @text="Scenario 4" @action="toggleModal4" @class="scenario-button" />
    {{#if isShowingModal4}}
    {{#modal-dialog
    onClose=(action "toggleModal4")
    targetAttachment="center"
    translucentOverlay=true
    }}
    <NrgButton @action={{action (mut isShowingModal4) false}} @class="cancel-button">
      {{fa-icon "times" size="1" class="cancel-button-icon"}}
    </NrgButton>

    <p class="revenue-recognition-text">
      Carrie is a dog groomer, and she has one client who requires a very expensive shampoo. After grooming Buddy, the dog, Buddy's owner 
      Jake promises Carrie he will pay her at their next appointment. Since Jake is a regular customer, she feels comfortable with the arrangement.
      On her books, she can debit her Accounts Receivable, but when can she debit the associated expenses from the appointment? 
    </p>

    <div class="answers-location">
      <ScenarioIncorrectButton @question="At the next appointment" @answer="Nope!" />
      <ScenarioSuccessButton @question="At this immediate moment" @answer="Excellent work!" />
    </div>

    {{/modal-dialog}}
    {{/if}}

    {{!-- end scenario4 --}}

    {{!-- scenario5 --}}

      <NrgButton @text="Scenario 5" @action="toggleModal5" @class="scenario-button" />
    {{#if isShowingModal5}}
    {{#modal-dialog
    onClose=(action "toggleModal5")
    targetAttachment="center"
    translucentOverlay=true
    }}
    <NrgButton @action={{action (mut isShowingModal5) false}} @class="cancel-button">
      {{fa-icon "times" size="1" class="cancel-button-icon"}}
    </NrgButton>

    <p class="revenue-recognition-text">
      Jeremy orders a pizza one night through an online website. He is able to pay for the pizza online as well. The pizza company immediately 
      receives his payment and sends a delivery of pizza to his doorstep. Just 15 minutes later, Jeremy receives his pizza. When did the pizza 
      company record revenue?
    </p>

    <div class="answers-location">
      <ScenarioSuccessButton @question="When the pizza was delivered" @answer="Awesome work!" />
      <ScenarioIncorrectButton @question="When Jeremy paid online" @answer="Keep trying" />
    </div>

    {{/modal-dialog}}
    {{/if}}
    </div>
    {{!-- end scenario5 --}}
</div>
</body>
{{outlet}}