
<NrgButton @class="move-over" @action={{this.toggleShowAnswer}}> 
  <AnimatedContainer>
      {{#animated-if this.showAnswer rules=this.rules}}
        <div class="answer">
          {{@answer}}
        </div>
      {{else}}
        <div class="question">
          {{@question}}
        </div>
      {{/animated-if}}
    </AnimatedContainer>
</NrgButton>

{{yield}}