<body id="accounting-equation-body">
  <div class="equation-picture-overlay">
    <NavigationBar/>
    <h1 class="accounting-equation-title">The Accounting Equation</h1>
    <div class="income-statement-paragraph">
      <p>The Accounting Equation is foundational to the practice of accounting. It states that Assets should always equal Liabilities plus Stockholder's Equity. This is what ensures that the Balance Sheet always remains in balance. To learn more about the Accounting Equation, click <a href="https://www.investopedia.com/terms/a/accounting-equation.asp#:~:text=Accounting%20Equation%20FAQs-,What%20Is%20the%20Accounting%20Equation%3F,the%20double%2Dentry%20accounting%20system." class="ready-to-begin">here</a>.
      </p>
    </div>
    <div class="income-statement-paragraph-2">
      <p>
        To complete the Accounting Equation lab, reorder the items below to create the formula. Note that the individual items must be placed in the order that they would be in on the Balance Sheet. You will see a success message when they are in the correct order.
      </p>
    </div>
    <div class="accounting-equation-game">
      <div class="accounting-equation-block accounting-equation-horizontal-list">
        <div class="accounting-equation-horizontal-list">
          <SortableObjects
            @sortableObjectList={{this.sortableObjectList}}
            @sortEndAction={{fn this.sortEndAction}}
            @useSwap={{true}}
          >
            {{#each this.sortableObjectList as |item|}}
              <DraggableObject
                @content={{item}}
                @overrideClass="sortObject accounting-equation-horizontal-list"
                @isSortable={{true}}
              >
                {{item.title}}
              </DraggableObject>
            {{/each}}
          </SortableObjects>
        </div>
      </div>
    </div>
    {{#if this.sortFinishText}}
      <SweetAlert
        @show={{this.controller.sortFinishText}}
        @title="Great job!"
        @text="This is the correct implementation of an Accounting Equation!"
        @icon="success"
        @willClose={{this.controller.reset}}
      />
    {{/if}}
  </div>
</body>

{{outlet}}