<body id="balance-sheet-body">
  <div class="picture-overlay">
    <NavigationBar/>
    <h1 class="accounting-equation-title">The Balance Sheet</h1>
    <div class="income-statement-paragraph">
      <p>
        The Balance Sheet is one of the four main financial statements, and its purpose is to display all the assets that a company owns along with its 
        liabilities. Total stockholder's equity is also included on the Balance Sheet. The most important way to know if one is "in balance" is to see if the 
        total assets match the total liabilities plus stockholder's equity. When these two line items match, one can reasonably ascertain that they completed
        the Balance Sheet correctly. To learn more about the Balance Sheet, click <a href="https://www.investopedia.com/terms/b/balancesheet.asp" class="ready-to-begin">here</a>.
      </p>
    </div>
    <div class="income-statement-paragraph-2">
      <p>
        To complete the Balance Sheet lab, arrange the following Balance Sheet items as they would normally appear 
        on a completed Balance Sheet. You will see a success message when they are in the correct order.
      </p>
    </div>
    <div class="income-statement-sort-objects">
      <SortableObjects 
        @sortableObjectList={{this.model.pages}} 
        @sortEndAction={{fn this.sortEndAction}} 
        @enableSort={{true}}
      >
        {{#each this.model.pages as |item|}}
          <DraggableObject @content={{item}} @overrideClass={{'sort-new-object'}} @isSortable={{true}}>
            {{item.title}}
          </DraggableObject>
        {{/each}}
      </SortableObjects>
    </div>
    <br><br>
    {{#if this.sortFinishText}}
      <SweetAlert
        @show={{this.controller.sortFinishText}}
        @title="Well done!"
        @text="You have successfully completed a Balance Sheet"
        @icon="success"
        @willClose={{this.controller.reset}}
      />
    {{/if}}
  </div>
</body>