<body id="equity-body">
  <div class="equity-picture-overlay">
    <NavigationBar/>
    <h1 class="accounting-equation-title">The Statement of Retained Earnings</h1>
    <div class="income-statement-paragraph">
      <p>
        The Statement of Retained Earnings is a component of the larger Statement of Stockholder's Equity. It determines how much profit has been retained throughout the lifespan
        of the company. Dividends are paid out to shareholders through retained earnings, so anything that is left in the Ending Retained Earnings column will be saved for the future
        use of the company. All residual net income goes into retained earnings after it has been taxed. To learn more about the Statement of Retained Earnings, click 
        <a href="https://www.investopedia.com/terms/s/statement-of-retained-earnings.asp" class="ready-to-begin">here</a>.
      </p>
    </div>
    <div class="income-statement-paragraph-2">
      <p>
        To complete the Retained Earnings lab, arrange the following items as they would normally appear 
        on a completed Statement of Retained Earnings. You will see a success message when they are in the correct order.
      </p>
    </div>
    <div class="income-statement-sort-objects">
        <SortableObjects
        @sortableObjectList={{this.sortableObjectList}}
        @sortEndAction={{fn this.sortEndAction}}
        @enableSort={{true}}
        >
        {{#each this.sortableObjectList as |item|}}
            <DraggableObject
            @content={{item}}
            @overrideClass="sort-new-object"
            @isSortable={{true}}
            >
            {{item.title}}
            </DraggableObject>
        {{/each}}
        </SortableObjects>
    </div>
    <br><br>
    {{#if this.sortFinishText}}
      <SweetAlert
        @show={{this.controller.sortFinishText}}
        @title="Excellent!"
        @text="This is the correct implementation of the Statement of Retained Earnings!"
        @icon="success"
        @willClose={{this.controller.reset}}
      />
    {{/if}}

  </div> 
</body>

{{outlet}}